body {
  margin: 0;
  font-family: 'Raleway', sans-serif;
  line-height: 1.5;
  font-size: 17px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #b388ff;
}

.wrapper {
  text-align: center;
  background-color: #f3f3f3;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 2px 10px;
  margin: 80px auto;
  padding: 0 0 40px 0;
  width: 60%;
  min-width: 300px;
  min-height: 300px;
}

.MuiMobileStepper-dot {
  width: 15px !important;
  height: 15px !important;
  border-radius: 50% !important;
  margin: 9px 6px !important;
}

.MuiMobileStepper-dotActive {
  background-color: #b64fc8 !important;
}

.MuiFormLabel-root {
  color: rgba(0, 0, 0, 0.3) !important;
}

.MuiFormLabel-root.Mui-focused {
  color: #4a148c !important;
}

.MuiInput-underline::before {
  border-bottom: 1px solid rgb(224, 224, 224) !important;
}

.MuiTypography-h6 {
  font-family: 'Squada One', cursive !important;
}

.MuiListItemText-multiline {
  text-align: center !important;
}